@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../font/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2'),
         url('../font/gilroy-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
