@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('../font/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../font/gilroy-light-webfont.woff2') format('woff2'),
         url('../font/gilroy-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  color: #000000;

  background: linear-gradient(
    #ffffff 40px,
    rgba( 240, 197, 46, 0.5) 40px, rgba( 240, 197, 46, 0.5) 339px,
    #ffffff 339px);
}

a {
  text-decoration: none;
}

.button {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #000000;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background: linear-gradient(
    rgba(0, 0, 0, 0) 16px,
    #f0c52e 16px, #f0c52e 24px,
    rgba(0, 0, 0, 0) 24px);
  border: none;
}

.button:hover,
.button:focus {
  background: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}


.header__logo:hover,
.header__logo:focus {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}

.header-search__input {
  background: transparent;
  border: none;
  opacity: 0.3;
}

.header-search__input:hover {
  opacity: 0.6;
}

.header-search__input:focus {
  opacity: 1;
  border-bottom: 2px solid #000000;

  /* временно, чтобы было видно черную линию снизу формы при фокусе */
  outline: none;
}

.header-search__button {
  background: transparent;
  border: solid 2px #000000;
}

.header-search__button:hover,
.header-search__button:focus {
  color: #ffffff;
  background: #000000;
}

.header-search__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-navigation__list,
.header-site-navigation__list,
.header-site-navigation__sub-list {
  list-style: none;
}

.header-user-navigation__list a,
.header-site-navigation__list a {
  color: #000000;
}

.header-user-navigation__list a:hover,
.header-user-navigation__list a:focus,
.header-site-navigation__list a:hover,
.header-site-navigation__list a:focus {
  opacity: 0.6;
}

.header-user-navigation__list a:active,
.header-site-navigation__list a:active {
  opacity: 0.3;
}

.header-site-navigation__list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.header-site-navigation__sub-list a {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.15px;
  text-transform: none;
}



.main-container h1,
.main-container h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  letter-spacing: 0.47px;
}

.main-about-us p,
.main-contacts p {
  letter-spacing: normal;
}

.transport-company__list {
  list-style: none;

  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}



.breadcrumbs__list {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;

  list-style: none;
}

.breadcrumbs__list a {
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs__list a:hover,
.breadcrumbs__list a:focus {
  opacity: 0.6;
}

.breadcrumbs__list a:active {
  opacity: 0.1;
}

.breadcrumbs__item--current {
  color: #000000;
  opacity: 0.3;
}

.filters {
  background-color: #ebebeb;
}

.filters__form fieldset {
  border: none;
}

.filters__form legend {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.18px;
}

.filters__form ul {
  list-style: none;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
  letter-spacing: 0.14px;
}

.filters__form input:hover,
.filters__form input:focus {
  opacity: 0.6;
}

.filters__form input:active {
  opacity: 1;
}

.filters__form input:disabled {
  opacity: 0.25;
}

.filters__form input:disabled + label {
  color: #a6a6a6;
}

.catalog__list {
  list-style: none;
}

.catalog__item h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.18px;
}

.catalog__item a {
  color: #000000;
}

.catalog__item p {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: #464646;
  letter-spacing: 0.16px;
}



.footer-container {
  background-color: #464646;
}

.footer-container p {
  color: #ffffff;
}

.footer__logo:hover,
.footer__logo:focus {
  opacity: 0.6;
}

.footer__logo:active {
  opacity: 0.3;
}

.footer-user-navigation__list,
.footer-site-navigation__list,
.footer-social__list {
  list-style: none;
}

.footer-user-navigation__list a {
  color: #ffffff;
  opacity: 0.7;
  letter-spacing: normal;
}

.footer-user-navigation__list a:hover,
.footer-user-navigation__list a:focus {
  opacity: 1;
}

.footer-user-navigation__list a:active {
  opacity: 0.3;
}

.footer__second-line p {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: normal;
}

.footer-site-navigation__list a {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 3.6px;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-site-navigation__list a:hover,
.footer-site-navigation__list a:focus {
  opacity: 0.6;
}

.footer-site-navigation__list a:active {
  opacity: 0.3;
}

.footer-social__list {
  text-align: center;
}

.footer-social__list a {
  color: #ffffff;
  opacity: 0.3;
}

.footer-social__list a:hover,
.footer-social__list a:focus {
  opacity: 0.6;
}

.footer-social__list a:active {
  opacity: 0.1;
}

.footer-site-maker__logo:hover,
.footer-site-maker__logo:focus {
  opacity: 0.6;
}

.footer-site-maker__logo:active {
  opacity: 0.3;
}

.modal {
  display: none;
}






/* ----- Сеточные стили ----- */
html,
body {
  /* Временно для сетки */
  min-width: 1440px;
  /* min-height: 2795px; */
}

body {
  background-size: 1160px auto;
  /* Временно для сетки */
  /* background-image: url("../Device-Index.png"); */
  /* background-image: url("../Device-Index-Modals.png"); */
  background-size: 1440px auto;
  background-repeat: no-repeat;
  background-position: center top;
}

img {
  max-width: 100%;
  height: auto;
}

body .button {
  display: inline-block;
  padding-left: 40px;
  padding-right: 39px;
  padding-top: 8px;
  padding-bottom: 6px;
  margin-right: 16px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.header * {
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 50px;
}

.header__navigation {
  padding-top: 21px;
  padding-right: 60px;
  padding-left: 59px;

  display: flex;
  flex-direction: column;
}

.header__logo {
  width: 163px;
  height: 35px;
  margin-bottom: 18px;
}

.header__second-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
}

.header-search__form {
  position: relative;
  width: 441px;
  display: flex;
}

.header-search__input {
  position: relative;
  height: 46px;
  padding-top: 1px;
  padding-left: 39px;
  flex-grow: 1;
}

.header-search__form::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 4px;

  width: 16px;
  height: 16px;
  margin-top: -8px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-search__button {
  min-width: 85px;
  min-height: 49px;
}

.header-user-navigation__list {
  width: 500px;
  display: flex;
  align-items: center;
}

.header-user-navigation__list li:nth-last-child(2) {
  margin-left: auto;
  margin-right: 38px;
}

.header-user-navigation__link--user {
  position: relative;
  padding-left: 26px;
  margin-right: 19px;
}

.header-user-navigation__link--user::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 13px;
  height: 12px;
  margin-top: -6px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-navigation__link--logout {
  opacity: 0.3;
}

.header-user-navigation__link--compare {
  position: relative;
  padding-left: 23px;
}

.header-user-navigation__link--compare::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 3px;

  width: 10px;
  height: 10px;
  margin-top: -4px;

  background-image: url("../img/icon-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-user-navigation__link--cart {
  position: relative;
  padding-left: 26px;
}

.header-user-navigation__link--cart::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 3px;

  width: 12px;
  height: 12px;
  margin-top: -6px;

  background-image: url("../img/icon-shopping-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-site-navigation__list {
  position: relative;
  display: flex;
  width: 1045px;
}

.header-site-navigation__link--catalog{
  position: relative;
  padding-right: 35px;
  margin-right: 287px;
}

.header-site-navigation__link--catalog::after{
  content: "";

  position: absolute;
  top: 50%;
  right: 7px;

  width: 16px;
  height: 16px;
  margin-top: -9px;

  background-image: url("../img/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-site-navigation__list li:nth-child(2) {
  margin-right: 34px;
}

.header-site-navigation__list li:nth-child(3) {
  margin-right: 108px;
}

.header-site-navigation__sub-list {
  position: absolute;

  margin-top: 20px;

  left: -59px;
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;

  display: flex;

  background-color: #f7e296;

  /* Временно для сетки */
  min-height: 139px;
  /* display: none; */
}

.header-site-navigation__sub-list ul {
  list-style: none;
}

/* .header-site-navigation__sub-list--column-1 {
  margin-right: 33px;
}

.header-site-navigation__sub-list--column-2 {
  margin-right: 41px;
} */

.header-site-navigation__sub-list--column-1,
.header-site-navigation__sub-list--column-2,
.header-site-navigation__sub-list--column-3 {
  min-width: 133px;
  margin-right: 33px;
}

.header-site-navigation__sub-list--column-1 li,
.header-site-navigation__sub-list--column-2 li,
.header-site-navigation__sub-list--column-3 li {
  margin-bottom: 6px;
}


.main-container * {
  margin: 0;
  padding: 0;
}

.main__info-line {
  display: flex;
  justify-content: space-between;
}

.main-about-us::before,
.main-contacts::before {
  content: "";

  position: absolute;

  top: -48px;
  left: 0;

  width: 80px;
  height: 7px;

  background: black;
}

.main-about-us {
  width: 474px;
  position: relative;
}

.main-about-us h2,
.main-contacts h2 {
  margin-bottom: 40px;
}

.main-about-us__text p,
.main-contacts__text p {
  margin-bottom: 30px;
}

.main-about-us__text {
  margin-bottom: 65px;
}

.transport-company__list {
  margin-bottom: 54px;
}

.transport-company__list li {
  position: relative;
  padding-left: 35px;
}

.transport-company__list li::before {
  content: "";

  position: absolute;

  top: 50%;
  left: 3px;

  width: 4px;
  height: 4px;
  margin-top: -1px;

  background: rgba(255, 255, 255, 0);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;

  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.3);
}

.main-about-us .button {
  padding-left: 22px;
  padding-right: 20px;
}

.main-contacts {
  width: 560px;
  position: relative;
}

.main-contacts__text {
  margin-bottom: 38px;
}

.map {
  display: block;
  margin-bottom: 60px;
}




.footer-container {
  margin-top: 84px;
}

.footer-container .container {
  padding-top: 65px;
  padding-bottom: 66px;
}

.footer__first-line * {
  margin: 0;
  padding: 0;
}

.footer__first-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.footer__logo {
  width: 163px;
  height: 35px;
}

.footer-user-navigation__list {
  display: flex;
  justify-content: flex-end;
}



/* .header-user-navigation__list {
  width: 500px;
  display: flex;
  align-items: center;
}

.header-user-navigation__list li:nth-last-child(2) {
  margin-left: auto;
  margin-right: 38px;
} */

.footer-user-navigation__link--user {
  position: relative;
  padding-left: 26px;
  margin-right: 19px;
}

.footer-user-navigation__link--user::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 13px;
  height: 12px;
  margin-top: -6px;

  background-image: url("../img/icon-footer-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-navigation__list .footer-user-navigation__link--logout {
  opacity: 0.3;
  margin-right: 19px;
}

.footer-user-navigation__link--compare {
  position: relative;
  padding-left: 23px;
  margin-left: 22px;
  margin-right: 39px;
}

.footer-user-navigation__link--compare::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 3px;

  width: 10px;
  height: 10px;
  margin-top: -4px;

  background-image: url("../img/icon-footer-compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-user-navigation__link--cart {
  position: relative;
  padding-left: 26px;
}

.footer-user-navigation__link--cart::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 3px;

  width: 12px;
  height: 12px;
  margin-top: -6px;

  background-image: url("../img/icon-footer-shopping-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer__second-line * {
  margin: 0;
  padding: 0;
}

.footer__second-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
}

.footer__second-line p {
  width: 300px;
}

.footer-site-navigation__list {
  padding-top: 4px;

  width: 428px;
  display: flex;
  justify-content: space-between;
}

.text-right {
  text-align: right;
}

.footer__third-line * {
  margin: 0;
  padding: 0;
}

.footer__third-line {
  display: flex;

  position: relative;
}

.footer__third-line::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 80px;
  height: 7px;
  margin-top: -7px;

  background-color: #ffc600;
}

.footer-social__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.footer-social__list li {
  margin-left: 11.5px;
  margin-right: 11.5px;
}

.footer-site-maker__logo {
  width: 27px;
  height: 35px;
  position: absolute;
  right: 0;
}






.inner-page {
  /* Временно для сетки */
  background-image: url("../Device-Catalog.png");
}

.inner-page .header {
  margin-bottom: 80px;
}



.page-title {
  padding-left: 60px;
  margin-bottom: 18px
}

.breadcrumbs__list {
  padding-left: 60px;
  display: flex;

  /* Временно для сетки */
  margin-bottom: 184px;
}

.breadcrumbs__list li {
  margin-right: 37px;
}

.inner-page-columns {
  display: flex;
  justify-content: space-between;

  /* Временно для сетки */
  margin-bottom: 134px;
}

.filters {
  margin-left: 58px;
  width: 202px;
}

.catalog {
  width: 760px;
}

.catalog__item {
  display: inline-block;

  min-height: 440px;
  margin-bottom: 68px;
}






/* Временно для сетки */
.header {
  margin-bottom: 1685px;
}

/* Временно для сетки */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
